.footer{
    background-color:black;
    padding: 10px 10px;
    position: sticky;
    top: 100%;
    overflow: hidden;


}
h1{
    color: beige;
    font-size: 25px;
}
p{
    font-size: 15px;
    color: beige;
}
a{
    color:beige;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 20px;
}
i{
padding: 0px 1px;
}
a:hover{
    color: var( --primary-color );
}