<div class="container mt-5 mb-5">


<h1 class="text-center mt-2 md-5 mb-2">About</h1>
<div class="design">
<p>Kitchen Story is a restaurant chain that delivers food items of different cuisines at affordable prices. It was established in 2014 in Bengaluru, India.Kitchen Story Provides you all kind of food (veg and non-veg) across the india with free delhivery.We are waiting for you to give us one change,we are so sure that you will not regret.
</p>
<h1>Some <span class="highlight" > GLIMPSE</span></h1>
<div class="align ">
<img src="../../../assets/glimpse.jpg" width="200px" height="200px">
<img src="../../../assets/glimpsee.jpg" width="200px" height="200px"  >
<img src="../../../assets/aaaa.jpg" width="200px" height="200px"  >
<img src="../../../assets/About.jpg" width="200px" height="200px" >
<img src="../../../assets/bb.jpg" width="200px" height="200px"  >
</div>
</div>
</div>